
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(216, 216, 216, 0.336);
}
/* Font style */
.inter-font {
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
/* Button Style  */
.btn {
    background-color: #4E47FF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: transform .3s;
}
.btn:hover{
    background-color: yellowgreen;
    transform: scale(1.1);
    color: white;
}


/* Header style ***START*** */
header {
    background-image: url(Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 95vh;
}

header nav{
    display: flex;
    justify-content: space-around;
    padding:20px 0;  
}

p.logo{
    color: #4E47FF;
    font-size: 34px;
}
.banner{
    margin-top: 100px;
}
.banner h1{ 
    text-align: center;
}
.btn-2{
   margin-top: 15px; 
   text-align: center;
}
/* Header style ***END*** */

/* Action Section style ***START*** */
.action-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}
.action-section h4{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 18px;
}
.action-section p{
    font-size: 12px;
    color: #5550509c;
    font-weight: 400;
}
.action-section .btn-3{
    font-size: 12px;
    padding: 5px 15px;
    margin-top: 13px;
}

.action-section img{
    width: 200px;
    border-radius:10px;
}

/* Action Section style ***END*** */

/* ACTIVE USER SECTION ***START*** */
.active-user-section{
    width: 70%;
    margin: 60px auto;
    background-color: #1b16bd23;
    text-align: center;
    padding: 50px 0;
    border-radius: 10px;

}
.active-user-section h3{
    text-align: center;
}
.active-user-title ul{
    display: flex;
    justify-content:space-evenly;
    align-items: center
}
.active-user-title ul li{
    list-style: none;
    font-size: 40px;
    color: #4E47FF;
}

.active-user-sub-title ul{
    display: flex;
    justify-content:space-evenly;
    align-items: center
}
.active-user-sub-title ul li{
    list-style: none;
    font-size: 12px;
    color: rgba(90, 82, 82, 0.507);
}
/* ACTIVE USER SECTION ***END*** */

/* USER REVIEW SECTION ***START***/

.users-reviews-sec{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.user-review h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 800;
}

.user-review-list{
    width: 200px;
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgb(165, 166, 167);
    margin-bottom: 50px;
}
.user-review-list h4{
    margin: 15px 0;
    font-size: 20px;
}
.user-review-list p{
    font-size: 10px;
    color: rgb(66, 62, 62);
    margin-top: 5px;
}
.user-img{
    display: flex;
    margin-top:20px;
    gap: 10px;
}
.user-img img{
    border-radius: 50%;
}
.user-img p{
    color: rgb(73, 76, 80);
}
.user-img span{
    color: rgb(177, 173, 173);
    font-size: 10px;
}
/* USER REVIEW SECTION ***END***/


/* mAIN SECTION ***START***/

 main .main-title{
    text-align: center;
 }